.home {
  max-width: 1340px;
  display: grid;
  grid-template-columns: 587px 753px;
  color: black;
 }
 .home-bar{
   border: 1px solid;
 }
 .bar-detail{
  /* vertical-align: top; */
  border-top: solid 3px Black;
  border-right: solid 1px Black;
  /* padding: 5px; */
 }
 .bar-name{
  padding: 5px;
   font-weight: bold;
 }
 .home-response{
  display: grid;
  grid-template-columns: 50% 50%;
 }
 /* child modules */
 .childModules{
  border-top: solid 3px Black;
  border-right: solid 1px Black;
  display: grid;
  grid-template-columns: 202px 280px 105px;

 }
 .childModules_name{
  font-weight: bold;
  border-right: solid 1px Black;
 }
 .childModules_params{
  margin-left: 5px;
  display: block;
  border-right: solid 1px Black;
 }
 .childModules_submit{
  margin-left: 5px;
 }
 .childModules_submit_btn{
  margin-top: 3px;
 }
 /* response */
 .home-response{
  margin-left: 2px;
 }
 .response{
  padding: 5px;
  font-size: 15px;
  position: absolute;
    border: 1px solid ;
    width: 753px; 
    height: 606px; 
 }
 .response p{
  margin-top: 2px;
 }